{% extends 'base.html.twig' %}

{% block title %}Réservation n° {{booking.id}}!{% endblock %}

{% block body %}
<section style="padding-top: 50px;">
<div class="container">
    <h1>Votre Réservation (n°{{booking.id}})</h1>

         {% if app.request.query.get('withAlert') %}
            <div class="alert alert-success">
                <h4 class="alert-heading">
                    Bravo !
                </h4>

                <p>
                Votre réservation auprés de <strong> <a href="{{path("user_show",{'slug':booking.ad.author.slug})}}" >{{booking.ad.author.firstname}}{{booking.ad.author.lastname}}</strong>
               pour l'annonce <strong><a href="{{ path("ads_show",{'slug':booking.ad.slug}) }}" >{{booking.ad.titre}}</strong>
               a bien été prise en compte !
                </p>
            </div>
         {% endif %}

    <div class="row">
        <div class="col">
        <div class="alert alert-light">
            <h2>Détails</h2>
            <d1 class="row">
                <dt class="col-md-4">Numero</dt>
                <dd class="col-md-8">{{booking.id}}</dd>
                <dt class="col-md-4">Date d'arrivée</dt>
                <dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>
                <dt class="col-md-4">Date de départ</dt>
                <dd class="col-md-8">{{booking.endDate | date('d/m/Y')}}</dd>
                <dt class="col-md-4">Nombre de nuits</dt>
                <dd class="col-md-8">{{booking.duration}}</dd>
                <dt class="col-md-4">Montant total</dt>
                <dd class="col-md-8">{{booking.montant}} DT</dd>
                <dt class="col-md-4">Commentaire</dt>
                <dd class="col-md-8">{{booking.comment | default('Aucun commentaire')}}</dd>
            </d1>

            <hr>
            <h2 class="alert-heading">Votre hote</h2>
            <div class="row mb-3">
                <div class="col-3">
                  <img src="{{booking.ad.author.picture}}"  class="avatar avatar-medium" alt="avatar de {{booking.ad.author.firstname}} {{booking.ad.author.lastname}}" >
                </div>
                <div class="col-9">
                <h4>
                    <a href="{{path('user_show',{'slug': booking.ad.author.slug})}}"> {{booking.ad.author.firstname}} {{booking.ad.author.lastname}}</a>
                </h4>

                <span class="badge badge-primary">
                {{booking.ad.author.ads | length}} annonces

                </span>
                </div>
            </div>
            {{booking.ad.author.description | raw}}<br>
            <br>
            <a href="{{path('user_show',{'slug': booking.ad.author.slug})}}" class="btn btn-primary">Plus d'info sur {{booking.ad.author.lastname}}</a>
        </div>  

        <div class="alert alert-light" id="comment">
            <h2 class="alert-heading">Votre avis compte !</h2>

            {% if date() > date(booking.endDate) %}
            {% set comment = booking.ad.getCommentFromUser(app.user) %}
            {% if comment is not null %}
            <blockquote>
                {{comment.content}}
            </blockquote>
                <strong>Note : </strong> 
                  <span class="rating">
                                  {% for i in 1..5 %}
                                  {% if i <= comment.rating %} 
                                  <i class="fas fa-star"></i>
                                  {% else %}
                                  <i class="far fa-star"></i>
                                  {% endif %}
                                  {% endfor %}
                                </span>
            {% else %}
                        {{ form_start(form) }}
                         {{ form_widget(form) }}
                         
                         <button type="submit" class="btn btn-success btn-rounded" >confirmer !</button>
                          {{ form_end(form) }}
            {% endif %}
               
            {% else %}
                <p>Vous ne pourrez pas noter cette annonce tant que votre voyage ne sera pas complet !</p>
            {% endif %}
        </div>

        </div>
        <div class="col">
            <div class="alert alert-light">
                <h2 class="alert-heading">
                    Votre Hébergement
                </h2>
                <h4>
                    <a href="{{path('ads_show',{'slug': booking.ad.slug})}}">{{booking.ad.titre}}</a>
                </h4>
                    <img src="{{booking.ad.coverImage}}" alt="Image de {{booking.ad.titre}}" class="img-fluid">

                    {{booking.ad.contente | raw }}
                        <br><br>
                    <a href="{{path('ads_show',{'slug': booking.ad.slug})}}" class="btn btn-primary">Plus d'informations</a>
            </div>
        </div>
    
    </div>




</div></section>
{% endblock %}
